In [8]:
# Importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing dataset
# Assuming your file is named 'log.csv.xlsx' and is located in the 'content' directory
import pandas as pd

# Read the CSV file
df = pd.read_csv('/tested.csv', encoding='latin1')

In [9]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [16]:
df.isnull().sum()

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age             0
SibSp           0
Parch           0
Ticket          0
Fare            0
Cabin          12
Embarked        0
dtype: int64

In [11]:
df.fillna(method='ffill', inplace=True)  # Forward fill missing values

In [19]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [18]:
# Assuming your DataFrame is named 'data'
df['Cabin'].fillna('Unknown', inplace=True)

In [22]:

# Encode categorical variables
df = pd.get_dummies(df, columns=['Sex', 'Embarked'])

In [23]:
df

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,892,0,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,Unknown,0,1,0,1,0
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,Unknown,1,0,0,0,1
2,894,0,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,Unknown,0,1,0,1,0
3,895,0,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,Unknown,0,1,0,0,1
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,Unknown,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",28.0,0,0,A.5. 3236,8.0500,C78,0,1,0,0,1
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",39.0,0,0,PC 17758,108.9000,C105,1,0,1,0,0
415,1307,0,3,"Saether, Mr. Simon Sivertsen",38.5,0,0,SOTON/O.Q. 3101262,7.2500,C105,0,1,0,0,1
416,1308,0,3,"Ware, Mr. Frederick",38.5,0,0,359309,8.0500,C105,0,1,0,0,1
417,1309,0,3,"Peter, Master. Michael J",38.5,1,1,2668,22.3583,C105,0,1,1,0,0

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])

# Display the preprocessed data
print(df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name       Age  SibSp  Parch  \
0                              Kelly, Mr. James  0.314998      0      0
1              Wilkes, Mrs. James (Ellen Needs)  1.214994      1      0
2                     Myles, Mr. Thomas Francis  2.294989      0      0
3                              Wirz, Mr. Albert -0.224999      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist) -0.584997      1      1

    Ticket      Fare    Cabin  Sex_female  Sex_male  Embarked_C  Embarked_Q  \
0   330911 -0.497071  Unknown           0         1           0           1
1   363272 -0.511934  Unknown           1         0           0           0
2   240276 -0.463762  Unknown           0         1           0           1
3   315154 -0.482135  Unknown           0         1           0           0
4  3101298 -0.417159  Unknown           1         0           0           0

   Embarked_S
0           0
1           1
2           0
3           1
4           1

In [34]:
# Specify the columns you want to drop
columns_to_drop = ['Cabin']

# Drop the specified columns
df.drop(columns_to_drop, axis=1, inplace=True)

# Display the DataFrame after dropping columns
print(df.head())

   PassengerId  Survived  Pclass       Age  SibSp  Parch      Fare  \
0          892         0       3  0.314998      0      0 -0.497071
1          893         1       3  1.214994      1      0 -0.511934
2          894         0       2  2.294989      0      0 -0.463762
3          895         0       3 -0.224999      0      0 -0.482135
4          896         1       3 -0.584997      1      1 -0.417159

   Sex_female  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0           0         1           0           1           0
1           1         0           0           0           1
2           0         1           0           1           0
3           0         1           0           0           1
4           1         0           0           0           1

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [36]:

# 2. Splitting the data
X = df.drop('Survived', axis=1)
y = df['Survived']

# 3. Splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 4. Model Training
model = LogisticRegression()
model.fit(X_train, y_train)

# 5. Model Evaluation
y_pred = model.predict(X_test)

In [37]:
y_pred

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1])